.venv
.git
.gitignore
.ruff_cache
__pycache__
*.pyc
*.pyo
*.egg-info
app.log
.vscode
.pytest_cache
tests
README.md
makefile

# Config and Secrets
config.yaml
firebase_credentials.json

# SQL files
*.sql