# This file controls which files are uploaded to Cloud Build.
# Unlike .gitignore, we MUST include uv.lock and config.yaml for the build.

.venv
.git
.gitignore
.ruff_cache
__pycache__
*.pyc
*.pyo
*.egg-info
app.log
.vscode
.pytest_cache
tests
README.md
makefile
.env
